/SistemaAcademia/nbproject/private/
/Basicobemfeito/nbproject/private/
/Basicobemfeito/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Projeto0506/nbproject/private/
/Projeto0506/build/
/Projeto0506/dist/
/Projeto05-06/nbproject/private/
/Projeto05-06/build/
